body{
	background-color: #ffffff;
}

input{
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	font-color: #262626;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float:left;
}

li a{
	display: block;
	text-decoration:none;
	color: gray;
	padding: 10px 10px;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

li a:hover{
	display: block;
	text-decoration: underline;
	color: #262626;
	padding: 10px 10px;
	font-size: 14px;
	font-family: Arial, sans-serif;
}

#google-logo{
	
	margin: 150px auto 15px auto;
	display: block;

}

#search-bar{
	width: 40%;
	height: 44px;
	border: 1px solid lightgrey;
	box-shadow:  0px 1px lightgray, 0px 1px .1em lightgray;
}

#search-bar:hover{
	width: 40%;
	height: 44px;
	border: 1px solid lightgrey;
	box-shadow:  0px 1px lightgray, 0px 4px .3em lightgray;
}

#search-terms{
	float: left;
	margin: 0px;
	margin-left: 20px;
	padding: 0px;
	border: 0px solid white;
	height: 44px;
	width: 88%;
}

#voice-search{
	float: right;
	height:24px;
	width: 24px;
	margin: 10px;
	background: url(voice_search.png) no-repeat -3px 0;
	background-size: 24px 24px;
	display: inline-block;
}

#submit-field{
	margin: 25px;
}

input[type="submit"]{
	background-color: #f1f1f1;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
	height: 30px;
	margin: 5px;
}

input[type="submit"]:hover{
	background-color: #f1f1f1;
	border: 1px solid lightgray;
	border-radius: 2px;
	height: 30px;
	margin: 5px;
	box-shadow: 0px 1px .1em lightgray;
}

#bell-logo{
	border-radius: 50%;
	background-color: darkgray;
	width: 16px;
	height: 16px;
	padding: 0px 0px;

}

#bell-logo:hover{
	border-radius: 50%;
	background-color: #262626;
	width: 16px;
	height: 16px;
	padding: 0px 0px;

}

#bell-logo .fa-bell{
	color: #ffffff;
	font-size: 10px;
	margin: 0px 3px;
	padding: 0px;
	position:relative;
	top: -1px;
}

#top-bar{
	display: block;
	position:fixed;
	top: 0;
	right: 0;
}

#bottom-bar{
	display: block;
	position:fixed;
	bottom: 0;
	left:0;
	width: 100%;
	background-color: #f1f1f1;
	border-top: 1px solid lightgray;
}